.margin-head{
    margin-top:7%;
}
.shade{
    box-shadow: 5px 5px 10px gray;
}
#transaction-page{
    display:none;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
   background-color: orange;
}
.border-radius{
   border-radius: 7px;
}
.text{
    color: white;
}
